# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Represent quantities. "Number" is not a type. There are three types that represent numbers: integer (whole numbers), float (decimals), and complex (imaginary). 

Strings: Represent any arbitrarily long sequence of characters 

Lists: An ordered, mutable collection

Tuples: An ordered, immutable collection

Dictionaries: A key-value mapping. keys are non-duplicatable.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [4]:
(1 * 100.25 + 1 - 1) ** 1

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [7]:
print (4 * (6 + 5))
print (4 * 6 + 5) 
print (4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

Answer: float

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
# Square root:
25**.5

5.0

In [9]:
# Square:
5**2

25

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [11]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [24]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [27]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [29]:
# Method 2:

s[4:5]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [34]:
# Method 1:
l1 = []
l1.append(0)
l1.append(0)
l1.append(0)
print(l1)

[0, 0, 0]

In [35]:
# Method 2:
l2 = [0, 0, 0]
print(l2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [36]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [37]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [41]:
d = {'simple_key':'hello'}
# Grab 'hello'
g1 = d['simple_key']
print(g1)

SyntaxError: invalid syntax (2200012982.py, line 3)

In [42]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
g2 = d['k1']['k2']
print(g2)

hello

In [46]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
g3 = d['k1'][0]['nest_key'][1][0]
print(g3)

hello

In [57]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
g4 = d['k1'][2]['k2'][1]['tough'][2][0]
print(g4)

hello

Can you sort a dictionary? Why or why not?<br><br>

You cannot because dictionaries are defined as unordered

## Tuples

What is the major difference between tuples and lists?<br><br>


tuples are immutable, lists are mutable

How do you create a tuple?<br><br>


Tuples use parantheses ()

## Sets

What is unique about a set?<br><br>

Sets do not allow duplicates

Use a set to find the unique values of the list below:

In [58]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]


set5 = set(list5)
print(set5)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [61]:
# Answer before running cell
2 > 3
#false

False

In [62]:
# Answer before running cell
3 <= 2
#false

False

In [63]:
# Answer before running cell
3 == 2.0
#false

False

In [64]:
# Answer before running cell
3.0 == 3
#true

True

In [65]:
# Answer before running cell
4**0.5 != 2
#false

False

Final Question: What is the boolean output of the cell block below?

In [68]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#false

False

In [74]:
ggg = [1, 4]
fff = [2, 1, 5]
ggg > fff

False